.search{
  display: flex;
  /* gap:0.75rem; */

}

.search img{
  width:45px
}

.search__input{
  display: flex;
  background-color: rgba(40, 52,62,0.07);
  border-radius: 10px;
  padding: 5px;
  margin-left: 8px;
}

.search__input > input{
  background-color: transparent;
  border: none;
  outline: none;
}

.search__icon{
  display:flex;
  align-items:center;
  justify-content: center;
  background: linear-gradient(106.23deg,#f99827, #f95f35 100%);
  padding: 5px;
  border-radius: 5px;
  color:#fff
}