.followers{
  width:100%;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  border-radius: 0.7rem;
  padding:5px;
  max-height:500px;
  overflow: scroll;

}

.follower{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:4px
}
.follower > div{
  display: flex;
}

.follower__img{
  width:3.2rem;
  height:3.2rem;
}

.follower__name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 8px;
}

.follower__name > span:nth-of-type(1){
  font-weight: bold;
}

.fol-button{
  background:linear-gradient(98.63deg, #f9a225, #f95735);
  border: none;
  border-radius: 0.5rem;
  color:white;
  transition: all 100ms ease-out;
  height:2rem;
  padding: 0px 20px;
}

.fol-button:hover{
  cursor:pointer;
  color:#f99827;
  background: transparent;
}

::-webkit-scrollbar{
  width:20px;
}

::-webkit-scrollbar-track{
  box-shadow: inset 0 0 3px grey;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(98.63deg, #f9a225, #f95735);
  border-radius: 10px;
}

::-webkit-scrollbar{
  display: none;
}

