/* CSS VARIABLES */
:root{
  --blue:#1045e5;
  --purple: purple;
}

.app{
  background: #f3f3f3
}
.mystic{
  position:absolute;
  width:22rem;
  height:14rem;
  border-radius:50%;
  background:#a6ddf0;
  filter: blur(72px);
}

.goright{
  top: -14%;
  right:0px
}

.goleft{
  top:36%;
  left:-8rem;
}